FRONTEND_URL=http://localhost:5173

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=synapse

# JWT
JWT_ACCESS_SECRET=supersecret_access
JWT_REFRESH_SECRET=supersecret_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

# CORS / Cookies
COOKIE_SECURE=false
COOKIE_DOMAIN=localhost

# App
PORT=3000

# CORS
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
NODE_ENV=development

#REDIS
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_BULL_URL=redis://127.0.0.1:6379/1

#RABBIT
RABBIT_USER=user
RABBIT_PASS=secret
RABBIT_HOST=localhost

YANDEX_S3_REGION=ru-central1
YANDEX_S3_ENDPOINT=https://storage.yandexcloud.net
YANDEX_S3_BUCKET=gennio
YANDEX_S3_KEY=******
YANDEX_S3_SECRET=******

# SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465          # 465 (SSL) или 587 (STARTTLS)
SMTP_SECURE=true       # true для 465, false для 587
SMTP_USER=no-reply@gennio.ru
SMTP_PASS=**********

# От кого по умолчанию
MAIL_FROM=Gennio<no-reply@gennio.ru>

OPEN_AI_API_SECRET=*************

YANDEX_CLIENT_ID=*****
YANDEX_CLIENT_SECRET=*****
YANDEX_REDIRECT_URI=https://api.gennio.ru/api/auth/yandex/callback

# email confirmation
EMAIL_CONFIRM_TTL=24h
EMAIL_CONFIRM_BASE_URL=http://localhost:3000/api/auth/email/confirm
EMAIL_CONFIRM_SECRET=*****
REQUIRE_EMAIL_CONFIRM_BEFORE_LOGIN=false

# password reset
PASSWORD_RESET_TTL=1h
PASSWORD_RESET_SECRET=*****

# Alerts → Telegram
TG_TOKEN=1234567890:abcdef....
TG_CHAT_ID=123456789
POLL_SEC=30

# Loki logger (`info` for production)
LOG_LEVEL=debug

# YooKassa
YOOKASSA_SHOP_ID=*****
YOOKASSA_SECRET_KEY=*****

# Generations images result expires time (in hours)
MODEL_JOB_RESULTS_TTL_HOURS=24
FILE_ORPHAN_TTL_HOURS=24
CLEANUP_BATCH_SIZE=200

# Time to update the status of expired model jobs
MODEL_JOB_QUEUED_TTL_SEC=600        # 10 минут
MODEL_JOB_PROCESSING_TTL_SEC=240    # 4 минуты

# number of simultaneous generations per worker ai generation
AI_GEN_PREFETCH=4